<div class="row">
  <div class="col-xs-8 col-sm-10 col-md-10">
    <h1>PicStories</h1>
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2">
    <%= link_to 'New story', new_story_path, class: "btn btn-info btn-sm" %>
  </div>
</div>

<%= render "stories_view", stories: @stories %>

<br>
